/* Variables */
:root {
  --main-font: 'Cairo', sans-serif;
  --secondary-color: #940bb0;
  --black-color: #000000;
  --white-color: #ffffff;
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Ligthbox options: */
  --lightbox__background: rgba(0, 0, 0, 0.8); /* Background color*/
  --lightbox__zIndex: 1000; /* Stack order*/
  --lightbox__duration: 0.4s; /* Transition duration*/
  --lightbox__timing: ease; /* Transition timing*/
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin-top: 30px;
  list-style: none;
  max-width: calc(100vw - 60px);
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  background-color: #ffffff71;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid var(--black-color);
  animation-duration: 1500ms;
  transition: all var(--duration) var(--function);
}

.photo-card:hover {
  border-color: #940488;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

img {
  display: block;
  width: 100%;
  height: 200px;
  padding: 2px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(50%);
  transition: filter 200ms var(--function);
}
img:hover {
  filter: grayscale(1%);
}

.stats {
  display: flex;
  justify-content: center;
}

.stats-item {
  padding: 14px 10px;
  margin: 4px;
  border-radius: 20%;
  cursor: help;
  transition: all var(--duration) var(--function);
}
.stats-item:hover {
  color: #8f0494;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

input {
  font-size: 20px;
  padding: 10px;
  display: block;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 3px inset;
  outline-color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    width: fit-content;
  }
}

.search-btn {
  width: 150px;
  height: 50px;
  /* margin-top: 29px;*/
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: var(--main-font);
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  animation-duration: 1000ms;
  transition: all var(--duration) var(--function);
}

.search-btn:hover {
  background-color: #770494;
  transition: all var(--duration) var(--function);
}

/* background style*/
body {
  background: linear-gradient(-45deg, #e77248, #e2c5ae, #f0d39d, #ecd79d, #eed70b);
  background-size: 1500% 1500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
